{% include "nav.html" %}





























  <!-- main content -->
  <div class="container-fluid">
    <!-- Small navbar1 row -->
    <div class="row bg-light d-none d-md-block " style="height: 40px;">
      <div class="col-md-12">
        <small class="mt-2 ms-3 d-none d-md-block">
          <a href="index.html" class="no-underline">Home</a>
          <span class="text-dark">></span>
          <a href="" class="no-underline ">Shop by Collections</a>
        </small>
      </div>
    </div>


    <!-- card start -->
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <span class="text-dimond1  " style="font-weight: 10; font-size: 35px;">
          Shop by Collections
        </span>
        <br>
        <span class="text-dimond1   " style="font-weight:500; font-size: 16px;">
          <p>Say hello to our sparkling new collection!</p>
        </span>
      </div>

    </div>

    <!-- card  -->
    <div class="row mt-5">
      <!-- card 1 -->
      <div class="col-md-4 col-sm-6  mb-3">

        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/pratha_cross_ads_01_90c0eef9cb.jpg"
          width="100%" alt="">

      </div>
      <div class="col-md-4 col-sm-6  mb-3">
        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/collection_3_1b7b30ce97.jpg" width="100%"
          alt="">


      </div>
      <div class="col-md-4 col-sm-6  mb-3">

        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/collection_2_bdf8a50da4.jpg" width="100%"
          alt="">

      </div>
      <div class="col-md-4 col-sm-6  mb-3">

        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/collection_6_d3c298a83a.jpg" width="100%"
          alt="">

      </div>
      <div class="col-md-4 col-sm-6  mb-3">

        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/Kids_ware_Mobile_81f7f29865.jpg"
          width="100%" alt="">

      </div>
      <div class="col-md-4 col-sm-6  mb-3">

        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/collection_4_a6d06f2c76.jpg" width="100%"
          alt="">

      </div>
      <div class="col-md-4 col-sm-6  mb-3">

        <img class="shadow" src="https://png-devs3.s3.ap-south-1.amazonaws.com/collection_5_467392be39.jpg" width="100%"
          alt="">

      </div>
    </div>





  </div>


  <!-- hr -->
  <div class="custom-hr">
    <div class="line"></div>
    <div class="center-logo">
      <img
        src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4q3a7SokAsnb4OjvSs9xOaCUZyg0HC5nWqBEaN-6Xhj7yYMFK"
        alt="Logo" class="img-fluid">
    </div>
    <div class="line"></div>
  </div>
{% include "footer.html"}