{% include "nav.html" %}
<!-- main content -->
<!-- First Full Image row -->
<div class="row">
  {% for i in EIINA_banner%}
  <div class="col-md-12">
    <div class="row imge-main">

      <img src="/{{i.EIINA_bannerImage}}" alt="banner" class="img-fluid w-100">
    </div>
  </div>
  {% endfor %}
</div>

<!-- filters navbar-->

<div class="d-none d-md-block">
  <div class="row bg-dark">
    <div class="col-md-1 d-flex align-items-center justify-content-center option_box text-white">
      <ion-icon name="options-outline"></ion-icon>
    </div>

    <div class="col-md-2 option_box">
      <div class="dropdown">
        <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
          PRICE
          <span style="margin-left: 140px;">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </button>
        <div class="dropdown-content">
          <label><input type="checkbox" value="20000"> Less than ₹25,000</label>
          <label><input type="checkbox" value="25000"> ₹25,001 - ₹30,000</label>
          <label><input type="checkbox" value="30000"> ₹30,001 - ₹35,000</label>
          <label><input type="checkbox" value="35000"> ₹35,001 - ₹40,000</label>
          <label><input type="checkbox" value="40000"> ₹40,001 - ₹45,000</label>
          <label><input type="checkbox" value="45000"> ₹45,001 - ₹50,000</label>
          <label><input type="checkbox" value="45000"> ₹50,001 - ₹1,00,000</label>
          <label><input type="checkbox" value="100000"> ₹1,00,001 - ₹5,00,000</label>
          <label><input type="checkbox" value="1000000"> ₹10,00,001 - ₹20,00,000</label>
        </div>
      </div>
    </div>

    <div class="col-md-2 option_box">
      <div class="dropdown">
        <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
          OCCASION
          <span style="margin-left: 110px;"> <ion-icon name="chevron-down-outline"></ion-icon></span>
        </button>
        <div class="dropdown-content">
          <label><input type="checkbox" value="20000">Anniversary</label>
          <label><input type="checkbox" value="25000">Engagement</label>
          <label><input type="checkbox" value="20000">Everydaywear</label>
          <label><input type="checkbox" value="25000">Party Wear</label>
          <label><input type="checkbox" value="25000">Daily Wear</label>
        </div>
      </div>
    </div>

    <div class="col-md-2 option_box">
      <div class="dropdown">
        <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
          METAL TYPE
          <span style="margin-left: 90px;">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </button>
        <div class="dropdown-content">
          <label><input type="checkbox" value="20000">Yellow Gold</label>
          <label><input type="checkbox" value="25000">Rose Gold</label>
          <label><input type="checkbox" value="30000">White Gold</label>
        </div>
      </div>
    </div>

    <div class="col-md-2 option_box">
      <div class="dropdown">
        <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
          COLLECTIONS
          <span style="margin-left: 90px;">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </span>
        </button>
        <div class="dropdown-content">
          <label><input type="checkbox" value="20000">EIINA</label>
          <label><input type="checkbox" value="25000">DiamondDiwaliOffers_100</label>
        </div>
      </div>
    </div>

    <div class="col-md-3 option_box">
      <div class="dropdown">
        <button class="dropdown-btn mt-1 button_nav">
          <u>MORE FILTERS+ </u>
        </button>
      </div>
    </div>

  </div>
</div>

<!-- select box -->
<div class="d-none d-md-block">
  <div class="row row-color ">
    <div class="col-md-8"></div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <select class="p-1" style="height: 34px; width: 270px;">
        <option value="">Sort by</option>
        <option value="">Popularity</option>
        <option value="">Newly Listed</option>
        <option value="">Price - High to Low</option>
        <option value="">Price - Low to High</option>
      </select>
    </div>
  </div>
</div>

<!-- Title Section -->
<div class="container my-4">
  <h2 class="fw-normal">
    <u>All</u> Jewellery <span class="fw-bold" style="font-size:large;">16 Designs</span>
  </h2>
</div>

<!-- Product Grid -->
<div class="container">
  <div class="row g-4">
    <!-- Product Card 1 -->
    {% for i in save_EIINA %}
    <div class="col-6 col-md-3 mb-3">
      <div class="card border">
        <div class="like-icon" onclick="toggleLike(this)">
          <i class="far fa-heart"></i>
        </div>
        <img src="/{{i.EIINA_image}}" alt="Ina-Spheric Sparkle Diamond Ring"
          class="mix-blend-multiply object-contain object-contain absolute h-full w-full inset-0 ">
        <div class="card-body">
          <p class="fw-bold">₹{{i.EIINA_Latest_price}}<span
              class="text-muted text-decoration-line-through">₹{{i.EIINA_old_price}} </span></p>
          <p class="small text-muted">{{i.EIINA_Description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}


    <!-- Discount Section -->
    <div class="col-12 col-md-6 mb-3">
      <div class="position-relative">
        <img
          src="https://d1put4x3vjlh9s.cloudfront.net/public/uploads/adbanner/Cross-ads--01-100jpg3806240871002572814.jpg"
          alt="banner" class="img-fluid w-100">
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
          <!-- Add text if needed -->
        </div>
      </div>
    </div>




  </div>
</div>

<!-- hr -->
<div class="custom-hr">
  <div class="line"></div>
  <div class="center-logo">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4q3a7SokAsnb4OjvSs9xOaCUZyg0HC5nWqBEaN-6Xhj7yYMFK"
      alt="Logo" class="img-fluid">
  </div>
  <div class="line"></div>
</div>










{% include "footer.html" %}