{% include "nav.html" %}

<!-- main content -->
<div class="container-fluide ">
  <!-- Small navbar1 row -->
  <div class="row bg-light d-none d-md-block " style="height: 40px;">
    <div class="col-md-12">
      <small class="mt-2 ms-3 d-none d-md-block">
        <a href="index.html" class="no-underline">Home</a>
      </small>
    </div>
  </div>

  <!-- Small navbar2 row -->
  <div class="d-none d-md-block">
    <div class="row bg-dark">
      <div class="col-md-1 d-flex align-items-center justify-content-center option_box text-white">
        <ion-icon name="options-outline"></ion-icon>
      </div>
      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
            Price
            <span style="margin-left: 140px;">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="20000"> Less than ₹20,000</label>
            <label><input type="checkbox" value="25000"> ₹20,001 - ₹25,000</label>
            <label><input type="checkbox" value="30000"> ₹25,001 - ₹30,000</label>
            <label><input type="checkbox" value="35000"> ₹30,001 - ₹35,000</label>
            <label><input type="checkbox" value="40000"> ₹35,001 - ₹40,000</label>
            <label><input type="checkbox" value="45000"> ₹40,001 - ₹45,000</label>
            <label><input type="checkbox" value="50000"> ₹45,001 - ₹50,000</label>
            <label><input type="checkbox" value="100000"> ₹50,001 - ₹1,00,000</label>
          </div>
        </div>

      </div>
      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
            MATERUAL
            <span style="margin-left: 90px;">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="20000">
              Gold
            </label>
          </div>
        </div>

      </div>

      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
            METAL TYPE
            <span style="margin-left: 90px;">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="20000">
              Yellow Gold
            </label>
          </div>
        </div>

      </div>

      <div class="col option_box P-0">

      </div>
    </div>


  </div>
</div>

<!-- select box -->
<div class="d-none d-md-block">
  <div class="row row-color ">
    <div class="col-md-8"></div>
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <select class="p-1" style="height: 34px; width: 270px;">
        <option value="">Sort by</option>
        <option value="">Popularity</option>
        <option value="">Newly Listed</option>
        <option value="">Price - High to Low</option>
        <option value="">Price - Low to High</option>
      </select>
    </div>

  </div>
</div>
</div>

<!-- card start -->
<div class="container mb-3">
  <!-- Card section start -->
  <div class="row p-2">
    <div class="col-md-12 mt-3">
      <span class="text-dimond  d-none d-md-block" style="font-weight: 50;">Gold Vedhani <span
          style="font-weight: 490; font-size: 27px;"> 4 Designs</span></span>


      <span class="text-dimond1   ms-2 d-block d-md-none" style="font-weight: 10;">
        Gold Vedhani<span style="font-weight: 490; font-size: 23px;"> 4 Designs</span>
        <hr>
      </span>
    </div>
  </div>

  <!-- first row Cards -->
  <div class="row ">
    {% for i in Gold %}
    <div class="col-6 col-md-3  mb-3 shadow-lg">
      <div class="daily-product-card">
        <div class="like-icon" onclick="toggleLike(this)">
          <i class="far fa-heart"></i>
        </div>
        <img src="/{{i.Gold_vedhani_image}}">
        <div class=" card-content mt-0 p-3">
          <p>{{i.Gold_vedhani_image_title}}</p>
          <span class="price">₹{{i.Gold_vedhani_latest_price}}</span>
          <del class=" ms-5">₹{{i.Gold_vedhani_old_price}}</del>


        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- hr -->
<div class="custom-hr">
  <div class="line"></div>
  <div class="center-logo">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4q3a7SokAsnb4OjvSs9xOaCUZyg0HC5nWqBEaN-6Xhj7yYMFK"
      alt="Logo" class="img-fluid">
  </div>
  <div class="line"></div>
</div>


{% include "footer.html" %}