{% include "nav.html" %}

<div class="container-fluide   ">
  <!-- Image row -->
  <div class="row">
    <div class="col-md-12">
      <div class="row imge-main d-none d-md-block">
        {% for i in img1 %}
        <img src="/{{i.Hoops_bannerImage}}" alt="">
        {% endfor %}
      </div>
    </div>
  </div>


  <!-- Small navbar1 row -->
  <div class="row bg-light d-none d-md-block " style="height: 40px;">
    <div class="col-md-12">
      <small class="mt-2 ms-3 d-none d-md-block">
        <a href="index.html" class="no-underline">Home</a>
        <span class="text-secondary">></span>
        <a href="All_Jewellery.html" class="no-underline">All Jewellery</a>
        <span class="text-secondary">></span>
        <a href="" class="no-underline">Diamond</a>
        <span class="text-secondary">></span>
        <a href="" class="no-underline">Earrings</a>
        <span class="text-dark">></span>
        <a href="" class="no-underline ">Hoops And Huggies</a>
      </small>
    </div>
  </div>

  <!-- Small navbar2 row -->
  <div class="d-none d-md-block">
    <div class="row bg-dark">
      <div class="col-md-1 d-flex align-items-center justify-content-center option_box text-white">
        <ion-icon name="options-outline"></ion-icon>
      </div>
      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
            Price
            <span style="margin-left: 140px;">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="20000"> Less than ₹20,000</label>
            <label><input type="checkbox" value="25000"> ₹20,001 - ₹25,000</label>
            <label><input type="checkbox" value="30000"> ₹25,001 - ₹30,000</label>
            <label><input type="checkbox" value="35000"> ₹30,001 - ₹35,000</label>
            <label><input type="checkbox" value="40000"> ₹35,001 - ₹40,000</label>
            <label><input type="checkbox" value="45000"> ₹40,001 - ₹45,000</label>
            <label><input type="checkbox" value="50000"> ₹45,001 - ₹50,000</label>
            <label><input type="checkbox" value="100000"> ₹50,001 - ₹1,00,000</label>
          </div>
        </div>

      </div>
      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
            Collections
            <span style="margin-left: 90px;">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="20000">
              DiamondDiwali
            </label>
            <label><input type="checkbox" value="25000">
              New Launch
            </label>
            <label><input type="checkbox" value="30000">
              Diamond365PLUS
            </label>
            <label><input type="checkbox" value="35000">
              Polmi Polki Collection
            </label>
            <label><input type="checkbox" value="40000">
              Colour Stones
            </label>

          </div>
        </div>

      </div>
      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">
            Occasion
            <span style="margin-left: 110px;"> <ion-icon name="chevron-down-outline"></ion-icon></span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="20000">
              Party Wear
            </label>
            <label><input type="checkbox" value="25000">
              Daily Wear
            </label>
            <label><input type="checkbox" value="30000">
              Officewear
            </label>


          </div>
        </div>
      </div>
      <div class="col-md-2 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav" onclick="toggleDropdown(event)">Gifts
            <span style="margin-left: 145px;"> <ion-icon name="chevron-down-outline"></ion-icon></span>
          </button>
          <div class="dropdown-content">
            <label><input type="checkbox" value="30000">
              For Her
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-3 option_box">
        <div class="dropdown">
          <button class="dropdown-btn mt-1 button_nav">
            <u>More Filters + </u>
          </button>
        </div>
      </div>

    </div>
  </div>


  <!-- select box -->
  <div class="d-none d-md-block">
    <div class="row row-color ">
      <div class="col-md-8"></div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <select class="p-1" style="height: 34px; width: 270px;">
          <option value="">Sort by</option>
          <option value="">Popularity</option>
          <option value="">Newly Listed</option>
          <option value="">Price - High to Low</option>
          <option value="">Price - Low to High</option>
        </select>
      </div>

    </div>
  </div>


</div>

<!-- cart start -->
<div class="container mb-3">
  <!-- Card section start -->
  <div class="row p-2">
    <div class="col-md-12 mt-3">
      <span class="text-dimond ms-2 d-none d-md-block" style="font-weight: 50;">Diamond Hoops and Huggies Earrings
        <span style="font-weight: 490; font-size: 27px;"> 62 Designs</span></span>


      <span class="text-dimond1   ms-2 d-block d-md-none" style="font-weight: 10;">
        Diamond Hoops and Huggies Earrings <span style="font-weight: 490; font-size: 23px;">62 Designs</span>

        <hr>
      </span>




      <p class="p-2">Diamonds are a woman's best friend, and diamond hoops earrings or Huggies earrings are a true
        classic
        in jewellery. You can instantly transform your look with hoops and Huggies, making you appear stylish in
        seconds.
        At
        P N Gadgil Jewellers, we have something for everyone. From classic jewellery to everyday essentials, you can
        have a
        variety of ranges to choose from and add to your eternal collection.</p>
    </div>
  </div>

  <!-- first row Cards -->
  <div class="row ">

    {% for i in card %}
    <div class="col-6 col-md-3  mb-3">
      <div class="product-card">
        <div class="like-icon" onclick="toggleLike(this)">
          <i class="far fa-heart"></i>
        </div>
        <img src="/{{i.hoops_image}}">
        <div class="card-content mt-0 p-3">
          <p>{{i.hoops_image_title}}</p>
          <span class="price">₹{{i.hoops_latest_price}}</span>
          <span class="original-price">₹{{i.hoops_old_price}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>




  <!-- containet  -->

  <div class="row mt-2 mb-5">
    {% for i in arti %}
    <div class="col-md-12">
      <b style="font-size: 20px; font-weight: 500;">{{i.hoops_articleHeading}}
      </b><br>
      <p style="font-size: 14px;color:rgb(70, 69, 69);margin-left:10px;">{{i.hoops_articleDescription}}...</p>
      <br>
    </div>
    {% endfor %}

    <hr class="mt-5 mb-4">

    <b style="font-size: 20px; font-weight: 500;">FAQs about Diamond Hoops-and-Huggies</b><br>
    <small>PNG jewellers have a wide collection of diamond hoops and Huggies jewellery. You can purchase your
      jewellery
      online. Here are a few frequently asked questions about them-
    </small>

    <br><br>

    {% for i in Que %}
    <small class="mb-4">
      <ion-icon name="caret-forward-outline"></ion-icon>Que.{{i.Question}}
      <br><br></small>
    {% endfor %}
  </div>
</div>

<!-- hr -->
<div class="custom-hr">
  <div class="line"></div>
  <div class="center-logo">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4q3a7SokAsnb4OjvSs9xOaCUZyg0HC5nWqBEaN-6Xhj7yYMFK"
      alt="Logo" class="img-fluid">
  </div>
  <div class="line"></div>
</div>










{% include "footer.html" %}