{% include "admin/Navbar.html" %}

<style>
    .box {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        text-align: center;
        transition: transform 0.2s, box-shadow 0.2s;
    }

    .box a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .box a:hover {
        color: #007bff;
    }
</style>


<div class="container">
<h1 class="text-center my-4">All Collections Page Links</h1>

    <div class="row gy-4">
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/Arrival_goldjewellery/">Arrival goldjewellery</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/Mangalsutra_Mahaotsave/">Mangalsutra Mahaotsave </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/EIINA/">EIINA</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/Necklace_Mahotsav/">Necklace Mahotsav</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/diamond_diwalisale/">diamond diwalisale</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/swarajya_collecations/">swarajya collecations </a>
            </div>
        </div>
        <div class="col-md-4">
        	<div class="box">
        		<a href="/admin/saptam_collecation/">Saptam collecation</a>
        	</div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/Aarya/">Aarya</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/zodias/">zodias</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/color_stone/">color stone</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="/admin/police_polki/">Police Polki</a>
            </div>
        </div>
    </div>
</div>

{% include "admin/Footer.html" %}
