{% include 'admin/Navbar.html' %}


<div class="container mt-5">
  <h2 class="text-center mb-4 text-warning">Add DiamondShort Necklaces Card</h2>
  <form action="/admin/DiamondShortNecklaces_data/" method="post" enctype="multipart/form-data"
    class="row g-3 p-5 border m-4 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    {% csrf_token %}
    <!-- Product Image -->
    <div class="col-md-12">
      <label for="productImage" class="form-label">Product Image</label>
      <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*" required>
    </div>

    <!-- Product Title -->
    <div class="col-md-12">
      <label for="productTitle" class="form-label">Product Title</label>
      <input type="text" class="form-control" id="productTitle" name="productTitle" placeholder="Enter product title"
        required>
    </div>

    <!-- Latest Price -->
    <div class="col-md-6">
      <label for="latestPrice" class="form-label">Latest Price</label>
      <input type="number" class="form-control" id="latestPrice" name="latestPrice" placeholder="Enter latest price"
        required>
    </div>

    <!-- Old Price -->
    <div class="col-md-6">
      <label for="oldPrice" class="form-label">Old Price</label>
      <input type="number" class="form-control" id="oldPrice" name="oldPrice" placeholder="Enter old price">
    </div>

    <!-- Submit Button -->
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-warning ">Add Product</button>
    </div>
  </form>
  <div class="mt-3 p-5">
    <h3 class="text-success">All Card and Details</h3>
    <table class="table table-striped border">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
          <th scope="col">Title</th>
          <th scope="col">latest Price</th>
          <th scope="col">Old Price</th>
          <th scope="col">Img</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>
            <a href="/admin/delete_DiamondShortNecklaces/?id={{ i.id }}" onclick="return confirm('Are you sure..?')">
              <i class="bi bi-trash fs-3 text-danger"></i>
            </a>
          </td>
          <td>
            <a href="/admin/Edit_Diamond_Short_Necklace/?id={{i.id}}"><i
                class="bi bi-pencil-square fs-3 text-success"></i></a>
          </td>
          <td>{{i.productTitle}}</td>
          <td>{{i.latestPrice}}</td>
          <td>{{i.oldPrice}}</td>
          <td><img src="/{{ i.productImage }}" alt="Banner Image" width="100px" height="60px" class="border"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% include 'admin/Footer.html' %}