{% include "admin/Navbar.html" %}

<!-- Form Section with Bootstrap class to make the form responsive and occupy 100% width -->
<div class="container-fluid mt-5">
    <h3 class="text-center">Upload Gold PNG Details</h3>
    <form action="/admin/update_gold_png/" method="post" enctype="multipart/form-data" class="w-100 mx-auto">
        {% csrf_token %}
        
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="hidden" name="id" value="{{old_png.id}}">
                <label class="form-label">Upload Image</label>
                <input type="file" class="form-control" value="{{old_png.gold_png_image}}" name="gold_png_image">
            </div>
        
            <div class="col-md-6">
                <label class="form-label">Image Price</label>
                <input type="number" class="form-control" value="{{old_png.gold_png_price}}" name="gold_png_price">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label class="form-label">Image Text</label>
                <input type="text" class="form-control" value="{{old_png.gold_png_text}}" name="gold_png_text">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% include "admin/Footer.html" %}
