{% include "admin/Navbar.html" %}
<style>
    .box-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        border-radius: 5px;
        padding: 15px; 
        background-color: #fff; 
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Edit Data</h1>
    <form action="/admin/update_edit_Store_Locator/" method="post" enctype="multipart/form-data" class="box-shadow">
        {% csrf_token %}


        <div class="row">
    <input type="hidden" name="id" value="{{edit_info.id}}">

            <!-- Image Upload -->
                  <div class="mb-3 col-md-6">
    <label for="image" class="form-label">Add Image</label>
    <input type="file" class="form-control" id="image" name="Store_Locator_img">
    
    {% if edit_info.Store_Locator_img %}
        <img src="{{ edit_info.Store_Locator_img.url }}" alt="Current Image" class="img-thumbnail mt-3" width="150">
    {% endif %}
</div>


            <div class="mb-3 col-md-6">
                <label for="price" class="form-label">Add Heiding</label>
                <input type="text" class="form-control" id="price" name="Store_Locator_Heiding" step="0.01" placeholder="Enter Text" value="{{edit_info.Store_Locator_Heiding}}">
            </div>
            <div class="mb-3 col-md-6">
                <label for="price" class="form-label">Add Description</label>
                <input type="text" class="form-control" id="price" name="Store_Locator_Description" step="0.01" placeholder="Enter Text" value="{{edit_info.Store_Locator_Description}}">
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save </button>
        </div>
    </form>
</div>

{% include "admin/Footer.html" %}
