{% include 'admin/Navbar.html' %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Edit Product Details</h5>

          <form action="/admin/Update_edit_index_Png_Name/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ old_Data.id }}">

            <!-- Card Image -->
            <div class="mb-3">
              <label for="cardImage" class="form-label">Current Image</label>
              <!-- Display the current image -->
              <div class="mb-2">
                <img src="{{ old_Data.index_Png.url }}" alt="Current Image" class="img-thumbnail"
                  style="max-width: 150px;">
              </div>
              <!-- File input for new image -->
              <label for="cardImage" class="form-label">Select New Image</label>
              <input type="file" class="form-control" id="cardImage" name="index_Png" accept="image/*" required>
            </div>

            <!-- Image Title -->
            <div class="mb-3">
              <label for="imgTitle" class="form-label">Image Title</label>
              <input type="text" class="form-control" id="imgTitle" value="{{ old_Data.index_Png_Name }}"
                name="index_Png_Name" placeholder="Enter image title" required>
            </div>
            <!-- Submit Button -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'admin/Footer.html' %}