{% include 'admin/Navbar.html' %}

<div class="container my-5">
 <div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-12">
   <div class="card shadow-sm">
    <div class="card-body">
     <h5 class="card-title text-center mb-4 text-danger">Edit Cart img and Details</h5>

     <form action="/admin/Update_edit_jewellery/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ old_Data.id }}">

      <!-- Card Image -->
      <div class="mb-3">
       <label for="cardImage" class="form-label">Current Image</label>
       <!-- Display the current image -->
       <div class="mb-2">
        <img src="{{ old_Data.image_jewellery.url }}" alt="Current Image" class="img-thumbnail"
         style="max-width: 150px;">
       </div>
       <!-- File input for new image -->
       <label for="cardImage" class="form-label">Select New Image</label>
       <input type="file" class="form-control" id="cardImage" name="image_jewellery" accept="image/*">
      </div>

      <!-- Image Title -->
      <div class="mb-3">
       <label for="imgTitle" class="form-label">Image Title</label>
       <input type="text" class="form-control" id="imgTitle" value="{{ old_Data.description_jewellery }}"
        name="description_jewellery" placeholder="Enter image title" required>
      </div>

      <!-- Latest Price -->
      <div class="mb-3">
       <label for="latestPrice" class="form-label">Latest Price</label>
       <input type="number" class="form-control" id="latestPrice" name="price_jewellery"
        placeholder="Enter latest price" value="{{ old_Data.price_jewellery }}" required>
      </div>


      <!-- Submit Button -->
      <div class="d-grid">
       <button type="submit" class="btn btn-primary">Update</button>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>

{% include 'admin/Footer.html' %}