{% include "admin/Navbar.html" %}

<!-- Form Section with Bootstrap class to make the form responsive and occupy 100% width -->
<div class="container mt-5">
 <h3 class="text-center">Update Diamond Ring Details</h3>
 <form action="/admin/update_Diamondrings/" method="post" enctype="multipart/form-data" class="w-100 mx-auto">
  {% csrf_token %}
  <div class="row">
   <div class="row mb-6 col-6">
    <div class="col-md-12">
     <input type="hidden" name="id" value="{{old_bands.id}}">

     <label for="rings_image" class="form-label">Upload Image</label>
     <input type="file" class="form-control" value="{{old_bands.dimaonderings_image}}" name="dimaonderings_image">
    </div>
   </div>

   <div class="row mb-3 col-6">
    <div class="col-md-12">
     <label for="rings_price" class="form-label">Image Price</label>
     <input type="number" class="form-control" value="{{old_bands.diamondrings_pricce}}" name="diamondrings_pricce">
    </div>
   </div>
  </div>
  <div class="row mb-3">
   <div class="col-md-12">
    <label for="rings_text" class="form-label">Image Text</label>
    <input type="text" class="form-control" value="{{old_bands.diamondrings_text}}" name="diamondrings_text">
   </div>
  </div>

  <div class="text-center">
   <button type="submit" class="btn btn-primary">Update</button>
  </div>
 </form>
</div>
{% include "admin/Footer.html" %}