{% include 'admin/Navbar.html' %}


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
      <h4 class="text-center p-4 text-primary">Edit Question and Answer</h4>
      <form class="border p-5 bg-light" action="/admin/edit_drops_question_ans/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{old_data.id}}">
        <div class="mb-3">
          <label for="question1" class="form-label">Write Question</label>
          <input type="text" class="form-control" id="question1" value="{{old_data.Question}}"
            placeholder="Enter your question" name="Question_edit">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'admin/Footer.html' %}