</div>

<!-- Custom template | don't include it in your project! -->
<!-- End Custom template -->
</div>
<!--   Core JS Files   -->
<script src="/static/admin/js/core/jquery-3.7.1.min.js"></script>
<script src="/static/admin/js/core/popper.min.js"></script>
<script src="/static/admin/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/static/admin/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="/static/admin/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="/static/admin/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="/static/admin/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="/static/admin/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="/static/admin/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="/static/admin/js/plugin/jsvectormap/jsvectormap.min.js"></script>
<script src="/static/admin/js/plugin/jsvectormap/world.js"></script>

<!-- Sweet Alert -->
<script src="/static/admin/js/plugin/sweetalert/sweetalert.min.js"></script>

<!-- Kaiadmin JS -->
<script src="/static/admin/js/kaiadmin.min.js"></script>

<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="/static/admin/js/setting-demo.js"></script>
<!-- <script src="/static/admin/js/demo.js"></script> -->
</body>

</html>