{% include 'admin/Navbar.html' %}


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center bg-primary text-white">
          <h4>Forgot Password</h4>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            
            <div class="form-group mb-3">
              <label for="old_password">Old Password:</label>
              <input type="password" class="form-control" name="old_password" required>
            </div>
            
            <div class="form-group mb-3">
              <label for="new_password">New Password:</label>
              <input type="password" class="form-control" name="new_password" required>
            </div>
            
            <div class="form-group mb-3">
              <label for="confirm_password">Confirm New Password:</label>
              <input type="password" class="form-control" name="confirm_password" required>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Update Password</button>
          </form>
          
          <div class="text-center mt-3">
            <a href="/adminpanel" class="text-decoration-none">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'admin/Footer.html' %}

