{% include "admin/Navbar.html" %}
<style>
    .box-shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        border-radius: 5px;
        padding: 15px; 
        background-color: #fff; 
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Add Slider</h1>
    <form action="/admin/save_index_bast_slider/" method="post" enctype="multipart/form-data" class="box-shadow">
        {% csrf_token %}

        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="image" class="form-label">Add PNG Images</label>
                <input type="file" class="form-control" id="image" name="index_Png">
            </div>

            <div class="mb-3 col-md-6">
                <label for="price" class="form-label">Add Name</label>
                <input type="text" class="form-control" id="price" name="index_Png_Name" step="0.01" placeholder="Enter Product Name">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

<table class="table table-striped table-bordered mt-5">
    <thead class="table-dark">
        <tr>
            <th>Delete</th>
            <th>Edit</th>

            <th>Image</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for i in save_index_png %}
        <tr>
            <td>
                <a href="/admin/delete_index_Png_Name/?id={{ i.id }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i></a>
            </td>
            <td>
                <a href="/admin/edit_index_Png_Name/?id={{ i.id }}" class="btn btn-success">
                            <i class="bi bi-pencil-square"></i></a>
            </td>
            <td>
                <img src="/{{i.index_Png}}" width="50px">
            </td>
            <td>{{ i.index_Png_Name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">No items found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% include "admin/Footer.html" %}



